.container {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.image-logo-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.button-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding-bottom: 2%;
}


