.header-container {
    background-color: #222;
    height: 50px;
    padding: 10px;
    color: white;
  }

  .header-content-icon {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .header-content-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .header-content-status {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
  }


  .typo {
    padding-top: 12px;
  }

  .body-container {
    line-height: 1.50;
  }
  